/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    /* Colores */
    --primary-color: #FF885B;
    --secondary-color: #FFE5CF;
    --terciary-color: #557C56;
    --fourth-color: #33372C;

    /* Colores de textos */
    --text-color-primary: #000000;
    --text-color-secondary: #ffff;

    /* Tipografía */
    --font-type-primary: "Roboto", system-ui;
    --font-type-secondary: "Raleway", sans-serif;
}

/* Animaciones */
@keyframes slide-in-from-right {
    0%{
        transform: translateY(-100%);
    }
}

/* Estilos Globales */

a {
    text-decoration: none;
    color: var(--text-color-primary);
}

/* Body */

body {
    font-family: var(--font-type-primary);
    color: var(--text-color-primary);
}

/* Header */

header {
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100%;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    z-index: 2;
    padding: 0 10px;
}

.logo {
    width: 75px;
}

.label_menu i {
    font-size: 32px;
}

.navbar {
    display: none;
    background-color: var(--primary-color);
    padding: 25px 20px;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-end;
    gap: 40px;
    width: 50%;
    border-radius: 0 0 0 20px;
    animation: slide-in-from-right 300ms;
    z-index: 1;
}

.navbar a{
    color: var(--text-color-secondary);
    position: relative;
}

.navbar a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    bottom: 0;
    left: 0;
    background-color: var(--text-color-secondary); /* Color de la línea */
    transform: scaleX(0);
    transform-origin: left; /* Comienza desde la izquierda */
    transition: transform 0.2s ease;
}

.navbar a:hover::before {
    transform: scaleX(1); /* Al hacer hover, se expande de izquierda a derecha */
}

#menu{
    display: none;
}

#menu:checked~.navbar {
    display: flex;
}


/* Main */

/* Footer */


/* Media Queries */